<div>
  <div class="container text-center" style="margin: 30px;">
    <h3>Sistema de Inventarios</h3>
  </div>

  <table class="table table-striped table-hover align-middle">
    <thead class="table-dark">
      <tr>
        <th scope="col">ID CalculoConcreto</th>
        <th scope="col">NombreObra</th>
        <th scope="col">Largo</th>
        <th scope="col">Ancho</th>
        <th scope="col">Grosor</th>
        <th scope="col">Calculo Concreto</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- 12 usaremos ngFor para iterar los elementos de nuestro arreglo -->
      <tr *ngFor="let concreto of concreto">
        <td scope="row">{{concreto.idCalculoConcreto}}</td>
        <td>{{concreto.nombreObra}}</td>
        <td>{{concreto.largo}}</td>
        <td>{{concreto.ancho}}</td>
        <td>{{concreto.grosor}}</td>
        <td>{{concreto.calculoConcreto}}</td>
      </tr>
    </tbody>
  </table>

</div>
